* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    cursor: url("../images/cursor.png"), auto;
}

#main-image {
    cursor: zoom-in !important;
}

.details {
    cursor: zoom-out !important;
}

:root {
    --primary-color: #cd8245;
    --secondary-color: #edd0b7;
    --tertiary-color: #dca87d;
    --additional-color: #ffe9d6;
    --quaternary-color: #c4c1c1;
    --light-gray: #afafaf;
    --dark-gray: #636363;
    --light-blue: #43a3f1;
    --white: #fff;
    --black: #000000;
    --green: #2d8937;
    --light-green: #f2fbf3;
    --danger: #ef4a44;
    --light-danger: #ec8d89;
    --border-danger: #fbe4d0;
}

.badge_infos {
    color: var(--primary-color);
    background: var(--white);
    border: 1px solid var(--primary-color);
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: pointer;
}

.badge_info_new {
    color: var(--green);
    background: var(--white);
    border: 1px solid var(--green);
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: pointer;
}

.primary_new_btn {
    background: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
    padding: 2px 8px;
    border-radius: 4px !important;
}

.primary_new_btn:hover,
.primary_new_btn.active {
    background: var(--green) !important;
    color: var(--white) !important;
    border: 1px solid var(--green) !important;
}

.badge_primary {
    color: var(--secondary-color);
    background: var(--white);
    border: 1px solid var(--secondary-color);
    font-size: 10px;
    border-radius: 3px;
    padding: 0 8px;
    cursor: default;
}

.badge_edit {
    color: var(--light-blue);
    background: var(--white);
    border: 1px solid var(--light-blue);
    cursor: pointer !important;
    font-size: 10px;
    border-radius: 3px;
    padding: 0 8px;
    cursor: default;
}

.badge_del {
    color: var(--light-danger);
    background: var(--white);
    border: 1px solid var(--light-danger);
    cursor: pointer !important;
    font-size: 10px;
    border-radius: 3px;
    padding: 0 8px;
    cursor: default;
}

.badge_del:hover {
    color: var(--white);
    background: var(--light-danger);
    border: 1px solid var(--light-danger);
    cursor: pointer !important;
    font-size: 10px;
    border-radius: 3px;
    padding: 0 8px;
    cursor: default;
}

.badge_edit:hover {
    color: var(--white);
    background: var(--light-blue);
    border: 1px solid var(--light-blue);
    font-size: 10px;
    border-radius: 3px;
    padding: 0 8px;
    cursor: default;
}

.fs_common {
    font-size: 14px;
}

.outline_primary_btn {
    background: var(--white);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px !important;
}

.outline_primary_btn:hover {
    background: var(--primary-color);
    color: var(--white);
    border: 2px solid var(--primary-color);
    padding: 2px 8px;
    border-radius: 4px !important;
}

.outline_secondary_btn {
    background: var(--white);
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px !important;
}

.outline_secondary_btn:hover {
    background: var(--light-gray);
    color: var(--white);
    border: 2px solid var(--light-gray);
    padding: 2px 8px;
    border-radius: 4px !important;
}

.address_lable {
    font-size: 14px;
    font-weight: 400 !important;
}

.address_input {
    background-color: var(--white);
}

#default_address:checked {
    accent-color: var(--primary-color);
}

.default_address:checked {
    accent-color: var(--primary-color);
}

.modal_border {
    border-radius: 0 !important;
}

.card.payment-option:hover {
    border-color: var(--primary-color);
}

.card.payment-option.selected {
    border-color: var(--green);
}

.applyBtn:disabled {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--white);
    cursor: not-allowed;
}

.form-check-input:checked {
    background-color: var(--green);
    color: var(--white);
    border-color: var(--green);
}

.coupon_code_align {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.batch_code {
    display: flex;
    gap: 3px;
}

.coupon_code_font {
    display: flex;
    gap: 3px;
    text-align: center;
    align-items: center;
}

.batch_code {
    display: flex;
    gap: 3px;
}

.badge_warning {
    color: #ffac4d;
    background: #f8e2cb;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: default;
}

.badge_payment {
    color: #1c9c2d;
    background: #cbf8d174;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: default;
}

.badge_default {
    color: #0c61a2;
    background: #b9daf3;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: default;
}

.badge_info {
    color: #4da3ff;
    background: #4da3ff67;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: default;
}

.badge_danger {
    color: #ff999d;
    background: #fcf0f0;
    font-size: 10px;
    border-radius: 10px;
    padding: 0 8px;
    cursor: default;
}

.badge_outline_dark {
    color: var(--primary-color);
    background: var(--white);
    border: 1px solid var(--primary-color);
    font-size: 14px;
    padding: 1.6px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_id {
    color: var(--primary-color) !important;
}

.badge_outline_dark:hover {
    color: var(--white);
    background: var(--primary-color);
    border: 1px solid var(--white);
    font-size: 14px;
    padding: 1.6px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge_outline_pink {
    color: var(--white);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 14px;
    padding: 1.6px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge_outline_pink:hover {
    color: var(--primary-color);
    background: var(--white);
    border: 1px solid var(--primary-color);
    font-size: 14px;
    padding: 1.6px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderCard {
    border: 1px solid var(--border-danger);
}
.orderCard:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px var(--secondary-color);
    border: 1px solid var(--border-danger);
    cursor: pointer;
}

.truncated-description {
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.summary-truncated-description {
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
    .order-id1 {
        font-size: 12px;
    }

    .coupon_code_font {
        display: flex;
        flex-direction: column;
        gap: 3px;
        font-size: 12px;
    }

    .batch_code {
        display: flex;
        gap: 3px;
        font-size: 12px;
    }

    .coupon_code_align {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .date_align {
        display: flex;
        gap: 3px;
        font-size: 12px;
    }

    .order_align {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sm_screen_btn {
        padding: 3px 6px !important;
        font-size: 10px !important;
    }

    .check_out_btn {
        padding: 6px 16px;
        background: var(--green);
        font-size: 12px;
        color: var(--white) !important;
        text-decoration: none;
        border: none !important;
        border-radius: 3px !important;
    }
}

/* order view  */

@media (max-width: 768px) {
    .order_heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 10px;
    }
}

.order_heading {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
}

.order_align {
    display: flex;
    gap: 10px;
}

.cb_card_hd {
    background: var(--additional-color);
}

.cb_text_primary {
    color: var(--primary-color);
}
.cb_bg_seconday {
    color: var(--secondary-color);
}
.cb_bg_header {
    background-color: var(--primary-color) !important;
    position: sticky;
    top: 0;
    z-index: 1999;
    padding: 5px 0;
}
.cb_logo {
    height: 70px;
}
.cb_logo_footer {
    height: 50px;
    margin-bottom: 10px;
}
.cb_intro_img {
    height: 80%;
}
.cb_nav_items {
    color: var(--white) !important;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    text-wrap: nowrap;
}
.cb_nav_items:hover {
    color: var(--white);
    background-color: var(--primary-color);
    width: fit-content;
}
.nav-item.dropdown:hover .cb_sub_menu {
    display: block;
}
.cb_sub_menu {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 4px !important;
    border: none !important;
    top: 100%;
    left: 0;
    padding: 14px 8px !important;
    min-width: 200px;
    z-index: 1000;
}
@media (min-width: 920px) {
    .cb_sub_menu::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 10%;
        width: 20px;
        height: 20px;
        background: var(--secondary-color);
        transform: rotate(45deg);
        z-index: -1;
    }
}
@media (max-width: 920px) {
    .cp_icons_head {
        padding: 20px !important;
    }
    .cb_logo {
        height: 40px;
    }
    .cb_stock {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start !important;
    }
}

.cb_sub_menu .dropdown-item {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 4px 8px;
}
.cb_sub_menu .dropdown-item:hover {
    background: var(--tertiary-color);
    color: var(--white);
}
.cb_social_media_icons {
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
    display: inline-block;
}

.cb_social_media_icons:hover::after {
    opacity: 1;
    visibility: visible;
}
.owl-dots {
    margin-top: 0 !important;
}
.cb_products {
    text-decoration: none !important;
}
.cp_card {
    text-decoration: none !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.cp_card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.cb_card_contents {
    padding: 8px !important;
}
.cb_card_contents .card-title {
    color: var(--black);
    font-size: 17px;
    line-height: 25px;
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cb_card_contents .card-text {
    color: var(--black);
    padding: 14px 0;
}
.cb_add_cart {
    border: 1px solid var(--primary-color);
    background: var(--white);
    color: var(--primary-color);
    border-radius: 4px !important;
    font-size: 13px;
}
.cb_price_cart {
    flex-grow: 1 !important;
}
.cb_add_cart:hover {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white);
    border-radius: 4px !important;
    font-size: 13px;
}
.cp_price_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 0.1px solid var(--tertiary-color);
    border-bottom: 0.1px solid var(--tertiary-color);
}
.cb_price {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
}
.cb_og_price {
    color: var(--dark-gray);
    text-decoration: line-through;
    font-size: 14px;
}
.cp_pieces {
    color: var(--primary-color);
    padding-top: 5px;
}
.cb_footer {
    background: var(--primary-color);
    padding: 20px 0;
}
@media (max-width: 920px) {
    .cp_footer {
        text-align: center;
    }
    .cp_termsfooter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
.cb_social-icons a {
    color: var(--white);
}
.cb_badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--primary-color);
    color: var(--white);
    padding: 4px 8px;
    font-size: 11px;
    font-weight: normal;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
}
.cb_serch_header input {
    border: 1px solid var(--primary-color);
    background: var(--secondary-color) !important;
}
.cb_serch_header input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--primary-color);
}
.cb_login {
    background: var(--secondary-color);
}
.cb_li_txt {
    color: var(--white);
    background: var(--primary-color);
}
.cb_li_txt:disabled {
    color: var(--white);
    background: var(--primary-color);
}
.cb_li_txt:hover {
    color: var(--white);
    background: var(--primary-color);
}
.cb_auth_title {
    color: var(--primary-color);
}
@media (min-width: 992px) {
    .cp_login_container {
        min-height: 100vh;
    }
}

@media (min-width: 992px) {
    .cb_login {
        min-height: 100vh;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: black;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: black;
}

/* Custom CSS for Product Description start */

.cb_breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cb_breadcrumb_link {
    list-style: none;
    text-decoration: none;
    color: var(--primary-color);
}
.cb_breadcrumb_separator {
    color: var(--primary-color);
}
.cb_product_name {
    line-height: 30px;
}

.thumbnail-container {
    display: flexbox;
    gap: 10px;
    margin-top: 8px;
}

.thumbnail {
    height: 290px;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.thumbnail img {
    cursor: pointer;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 2px solid transparent;
}

.thumbnail img.active {
    border-color: var(--primary-color);
}

.arrow-button {
    background-color: #eaeaea;
    width: 70px;
    height: 24px;
}

@media screen and (max-width: 500px) and (min-width: 380px) {
    .thumbnail {
        height: 200px;
    }
}

@media screen and (max-width: 380px) {
    .thumbnail {
        height: 115px;
    }

    .thumbnail img {
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width: 520px) {
    .arrow-button {
        background-color: #eaeaea;
        width: 38px;
        height: 22px;
    }

    .thumbnail img {
        width: 40px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .thumbnail {
        height: 150px;
    }

    .thumbnail img {
        width: 45px;
        height: 45px;
    }

    .arrow-button {
        width: 45px;
    }
}

.main-image-container {
    position: relative;
    overflow: visible;
    border-radius: 8px;
}

#image-zoom-container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#main-image {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
}

.zoom-result {
    position: absolute;
    top: 0;
    left: 105%;
    width: 600px;
    height: 380px !important;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: none;
    background-color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.zoom-result img {
    position: absolute;
    max-width: none;
    max-height: none;
    z-index: 999;
}

.zoom-result {
    border-radius: 8px;
    overflow: hidden;
    display: none;
    background-color: var(--white);
}

.zoom-result img {
    position: absolute;
    max-width: none;
    max-height: none;
}

.cb_add_cart_btns {
    display: flex;
    justify-content: center;
    align-items: center !important;
    text-align: center !important;
    gap: 20px;
}

@media screen and (max-width: 475px) {
    .cb_add_cart_btns {
        gap: 10px;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 90px;
    }
}

@media screen and (max-width: 425px) {
    .cb_add_cart_btns {
        gap: 10px;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .cb_add_cart_btns .cb_cart_btn {
        padding: 7px 14px !important;
        font-size: 10px;
        border-radius: 2px;
    }

    .cb_add_cart_btns .cb_Buy_btn {
        padding: 7px 14px !important;
        font-size: 10px;
        border-radius: 2px;
    }
}

@media screen and (max-width: 992px) {
    .cb_add_cart_btns {
        gap: 10px;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .cb_add_cart_btns .cb_cart_btn {
        padding: 7px 14px !important;
        font-size: 10px;
        border-radius: 2px;
    }

    .cb_add_cart_btns .cb_Buy_btn {
        padding: 7px 14px !important;
        font-size: 10px;
        border-radius: 2px;
    }
}

.cb_add_cart_btns .cb_cart_btn {
    padding: 8px 14px;
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.cb_add_cart_btns .cb_cart_btn:hover {
    padding: 8px 14px;
    background-color: var(--primary-color);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    color: var(--white);
}

.cb_add_cart_btns .cb_Buy_btn {
    padding: 8px 18px;
    background-color: var(--primary-color);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    color: var(--white);
}

.cb_add_cart_btns .cb_Buy_btn:hover {
    padding: 8px 18px;
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.cb_pd_price {
    font-size: 20px;
    font-weight: 400;
}
.cb_pd_price span {
    color: var(--primary-color);
}
.cb_pd_price del {
    color: var(--quaternary-color);
}

.cb_stock {
    display: flex;
    gap: 15px;
    align-items: center;
}
.cb_qty {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.cb_prouduct_desc {
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 14px;
}

.details {
    width: 645px !important;
    height: 83%;
    float: left;
    z-index: 1999;
}

@media screen and (min-width: 1200px) {
    .details {
        width: 560px;
    }
}

@media screen and (min-width: 1440px) {
    .details {
        width: 650px;
    }
}

@media screen and (max-width: 300px) {
    .details {
        display: none !important;
    }
}

/* social icons  */
.cb_card_border {
    border: 1px solid var(--primary-color);
}
.cb_social_links {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0;
}
.cb_social_links .fa-facebook-f {
    padding: 6px;
    width: 30px;
    height: 28px;
    background-color: #3b5998;
    color: var(--white);
    border-radius: 3px;
    font-size: 16px;
    margin: 0 5px;
}
.cb_social_links .fa-x-twitter {
    padding: 6px;
    width: 30px;
    height: 28px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 3px;
    font-size: 16px;
    margin: 0 5px;
}
.cb_social_links .fa-linkedin {
    padding: 6px;
    width: 30px;
    height: 28px;
    background-color: #0077b5;
    color: var(--white);
    border-radius: 3px;
    font-size: 16px;
    margin: 0 5px;
}
.cb_social_links .fa-whatsapp {
    padding: 6px;
    width: 30px;
    height: 28px;
    background-color: #25d366;
    color: var(--white);
    border-radius: 3px;
    font-size: 16px;
    margin: 0 5px;
}
.cb_social_links .fa-telegram {
    padding: 6px;
    width: 30px;
    height: 28px;
    background-color: #28a8e9;
    color: var(--white);
    border-radius: 3px;
    font-size: 16px;
    margin: 0 5px;
}
.cb_social_links .fa-instagram {
    padding: 6px;
    width: 30px;
    height: 28px;
    background: linear-gradient(
        45deg,
        #f09433,
        #e6683c,
        #dc2743,
        #cc2366,
        #bc1888
    );
    color: var(--white);
    border-radius: 3px;
    font-size: 16px;
    margin: 0 5px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #cb_social_links .fa-facebook-square {
        padding: 10px 8px;
        width: 30px;
        height: 28px;
        background-color: #3b5998;
        border-radius: 3px;
        font-size: 10px;
    }

    #cb_social_links .fa-twitter {
        padding: 10px 8px;
        width: 30px;
        height: 28px;
        background-color: #1da1f2;
        border-radius: 3px;
        font-size: 10px;
    }

    #cb_social_links .fa-linkedin {
        padding: 10px 8px;
        width: 30px;
        height: 28px;
        background-color: #0077b5;
        border-radius: 3px;
        font-size: 10px;
    }

    #cb_social_links .fa-whatsapp {
        padding: 10px 8px;
        width: 30px;
        height: 28px;
        background-color: #25d366;
        border-radius: 3px;
        font-size: 10px;
    }

    #cb_social_links .fa-telegram {
        padding: 10px 8px;
        width: 30px;
        height: 28px;
        background-color: #25d366;
        border-radius: 3px;
        font-size: 10px;
    }

    .social-link-container {
        display: flex;
        gap: 4;
    }

    .social-link-container a {
        display: inline-block;
        text-decoration: none;
        color: var(--white);
        border-radius: 50%;
        font-size: 10px;
        position: relative;
        text-align: center;
        width: 20px;
        height: 20px;
        margin-left: 12px;
    }

    .social-link-container a p {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 9px;
        font-weight: 500;
        color: var(--white);
        margin: 0;
    }

    .social-link-container .fa-thumbs-up {
        background-color: #1877f2;
        padding: 8px;
        width: 30px;
        height: 28px;
        border-radius: 3px;
        font-size: 14px !important;
        margin: 0px -2px;
    }

    .social-link-container .fa-instagram {
        background: linear-gradient(
            45deg,
            #f09433,
            #e6683c,
            #dc2743,
            #cc2366,
            #bc1888
        );
        padding: 8px 5px;
        width: 30px;
        height: 28px;
        border-radius: 3px;
        font-size: 14px !important;
    }
}

/* recent product carousel  */
/* .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    font-size: 18px;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 50%;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    font-size: 18px;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 50%;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.owl-nav .owl-prev span,
.owl-nav .owl-next span {
    font-size: 60px;
    color: var(--primary-color) !important;
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    background: var(--white) !important;
} */

/* .owl-nav [type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    display: none;
} */

.cb_quantity_container {
    position: relative;
    top: -10px;
    display: flex;
    align-items: center;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    width: fit-content;
    justify-content: space-between;
    padding: 5px;
}

.qty-btn {
    background-color: var(--white);
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#quantityInput {
    width: 40px;
    text-align: center;
    border: none;
    font-size: 16px;
}

/* summary screen start */
.cb_address_summary {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 5px 0;
}
.cb_badge_1 {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 100px;
    cursor: pointer;
}
.cb_badge_1:hover {
    border: 1px solid var(--primary-color);
    background: var(--white);
    color: var(--primary-color);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 100px;
}
.cb_badge_2 {
    border: 1px solid var(--primary-color);
    background: var(--white);
    color: var(--primary-color);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 100px;
    cursor: pointer;
}
.cb_badge_2:hover {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 100px;
}
.cb_address_data {
    font-size: 14px;
}
.cb_products_summary {
    display: flex;
    justify-content: center;
}
.cb_product_values {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cb_dc_price {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
}
.cb_off_percent {
    color: var(--green);
    font-size: 14px;
    font-weight: bold;
}
.cb_shop_icon {
    color: var(--primary-color);
}
.cb_summary_total {
    color: var(--green);
    font-size: 14px;
    white-space: nowrap;
}

.cb_checkout_btn {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white);
    font-size: 16px;
    padding: 5px 14px;
    border-radius: 4px;
    cursor: pointer;
}
.cb_checkout_btn:hover {
    border: 1px solid var(--primary-color);
    background: var(--white);
    color: var(--primary-color);
    font-size: 16px;
    padding: 5px 14px;
    border-radius: 4px;
}
.cb_checkout_outline_btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--white);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.cb_checkout_outline_btn:hover {
    border: 1px solid var(--primary-color);
    color: var(--white);
    background: var(--primary-color);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px;
}

/* direct Checkout page start  */
.cb_products_checkout {
    padding: 0 !important;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.cb_address_checkout {
    display: flex;
    color: var(--primary-color);
    align-items: start;
    text-align: center;
    gap: 40px;
    padding: 5px 0;
}

/* search screen start now  */
.cb_search_breadcrumb {
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
}
.cb_fliters {
    text-align: start;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}
.cb_check_input {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

.cb_check_input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.cb_check_input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: none;
}
/* .cb_fliter_card {
    max-height: 475px;
    overflow-y: auto;
} */
@media screen and (min-width: 769px) {
    .cb_fliter_card {
        max-height: 475px;
        overflow-y: auto;
    }
}

.cb_fliter_card::-webkit-scrollbar {
    width: 6px;
}

.cb_fliter_card::-webkit-scrollbar-track {
    background: var(--quaternary-color);
}

.cb_fliter_card::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
}

.cb_fliter_card::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.cb_fliter_card::-webkit-scrollbar {
    width: 6px;
}

.cb_fliter_card::-webkit-scrollbar-track {
    background: var(--quaternary-color);
}

.cb_fliter_card::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
}

.cb_fliter_card::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

/* ----------------------- */
.cb_fliter_cards {
    overflow-x: auto;
}

.cb_fliter_cards::-webkit-scrollbar {
    width: 6px;
}

.cb_fliter_cards::-webkit-scrollbar-track {
    background: var(--quaternary-color);
}

.cb_fliter_cards::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
}

.cb_fliter_cards::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

.cb_fliter_cards::-webkit-scrollbar {
    height: 6px;
}

.cb_fliter_cards::-webkit-scrollbar-track {
    background: var(--quaternary-color);
}

.cb_fliter_cards::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
}

.cb_fliter_cards::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}
.cb_units {
    display: flex;
    gap: 10px;
    align-items: center;
}
.cb_cart_dd {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.cb_cart_dd:hover .dropdown {
    display: block;
}
.cb_apply {
    background-color: var(--white);
    position: sticky;
    bottom: 0px;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-around;
}
.cb_search_fliter {
    background: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--primary-color);
    padding: 4px 20px;
}
.cb_search_fliter:hover {
    color: var(--primary-color);
    background: var(--white);
    border: 1px solid var(--primary-color);
    padding: 4px 20px;
}
.cart-border {
    border: 1px solid var(--primary-color) !important;
}

.cb_cart_dropdown {
    display: none;
    position: absolute;
    top: 45px !important;
    background: var(--white);
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    z-index: 1000;
}
.cb_cart_dropdown p {
    color: var(--primary-color);
}
.cb_cart_dropdown::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: var(--white);
    box-shadow: var(--dark-gray);
    transform: rotate(45deg);
    z-index: -1;
}

.cb_cart_dropdown .child {
    text-align: start;
    padding: 10px;
    background-color: var(--white);
    max-width: 500px;
    border-radius: 4px;
}
.dropdown_img {
    height: 30px;
    width: 40px;
}
.dropdown_cart_view a {
    display: flex;
    justify-content: end;
    padding: 2px 4px;
    font-size: 10px !important;
    border-radius: 4px;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}
.cb_text_clr {
    color: var(--primary-color);
}
.text_size {
    font-size: 12px !important;
    text-wrap: nowrap !important;
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    min-width: 60px;
}

.total-counts {
    font-size: 10px;
    width: 60%;
    text-align: center;
    border-radius: 100%;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-left: 35%;
    text-align: center;
    align-items: center;
}

.showmoreBtn {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white);
    border-radius: 4px;
}

.showmoreBtn:hover,
.showmoreBtn.active {
    background-color: var(--white) !important;
    border: 2px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    border-radius: 4px;
}

.cancel-btn {
    border-radius: 2px !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    font-size: 16px;
    padding: 6px 7px;
}

.cancel-btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.06);
    border-radius: 2px !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    font-size: 16px;
    padding: 6px 7px;
}
.cb_toast_err {
    margin-top: 80px;
    background: var(--light-danger);
    border: 1px solid var(--danger);
    color: var(--white);
    align-items: center;
}
.cb_toast_succ {
    margin-top: 80px;
    background: var(--light-green);
    border: 1px solid var(--green);
    color: var(--green);
    align-items: center;
}

.user-dropdown_cart {
    display: none;
    width: 160px;
    padding: 2px;
    top: 2.8rem !important;
    /* background-color: #ffb1b6; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border-radius: 4px;
    z-index: 999;
    box-shadow: #000000bf;
    border: none;
}

.user-dropdown_cart::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: var(--white);
    box-shadow: #000000bf;
    transform: rotate(45deg);
    z-index: -1;
}
@media (max-width: 576px) {
    .user-dropdown_cart {
        left: auto !important;
        right: 12% !important;
        top: 85% !important;
        transform: none !important;
        width: 200px;
    }
}
.user_list {
    color: var(--primary-color);
    background: var(--white);
    border-radius: 4px;
    padding: 2px 5px;
}
.user_list:hover {
    color: var(--white);
    background: var(--primary-color);
    border-radius: 4px;
    padding: 2px 5px;
}
.user_list_icon:hover {
    color: var(--white) !important;
}
.dropdown-item {
    font-weight: 400 !important;
}

/* Contact Us Start */

.nav-tabs .nav-link.active {
    background-color: white !important;
}

.nav-tabs .nav-link:hover {
    background-color: white !important;
}

.nav-tabs.nav-link {
    color: var(--black);
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding: 5px;
}

.contact-nav:hover {
    background-color: var(--white);
}

.address-content {
    display: none;
    padding-top: 16px;
}

.active-address {
    display: block;
    padding-top: 16px;
}

.nav-tabs .contact-nav.active {
    background-color: var(--white) !important;
}

.nav-tabs .contact-nav {
    margin-bottom: 0px;
}

.mediaIconBgIcon {
    font-size: 22px;
    border-radius: 5px;
    padding: 14px;
    /* width: 40px;
    height: 40px; */
    background: var(--primary-color);
}

.mediaIconBgIcon:hover {
    background: var(--primary-color);
}

.socialicons a {
    padding: 0;
}

.mediaIconBgIcon {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin: 5px;
}

.soc_icons {
    font-size: 24px;
    color: var(--white);
}

@media (max-width: 320px) {
    .socialicons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .socialicons a:nth-child(1),
    .socialicons a:nth-child(4) {
        grid-column: 1;
    }

    .socialicons a:nth-child(2),
    .socialicons a:nth-child(5) {
        grid-column: 2;
    }

    .socialicons a:nth-child(3) {
        grid-column: 3;
    }
}

.borderline {
    border-left: 1px solid #4f4f4f;
}

@media (max-width: 767px) {
    .borderline {
        border-left: none !important;
    }
}

.contact-heading {
    font-size: 2em;
}

.contact-icon-group {
    background-color: var(--white);
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #a7a7a7;
}

.icon-color {
    color: gray !important;
}

.contact-button {
    background-color: var(--primary-color);
    color: var(--white);
}

.contact-button:hover {
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
}

.contact-subheading2 {
    color: #00d570;
}

.input-text-color {
    color: var(--black) !important;
}

.input-text-color:focus {
    box-shadow: none;
}

.contact-icon-group {
    background-color: var(--white);
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #a7a7a7;
}

.error {
    color: var(--danger);
    font-size: small;
}

.successMagnetButton {
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    position: relative;
}

.successMagnetButton:hover {
    background-color: var(--primary-color);
    color: var(--white) !important;
}

/* Contact Us End */
.spinner-border {
    border-color: var(--white) transparent var(--white) transparent !important;
    border-width: 2px;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
}

/* toast start  */
.toast-success {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 420px;
    padding: 10px 20px;
    border: 0.5px solid #a2dab7;
    background-color: #f4fbf7 !important;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.toast-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.toast-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast-text {
    color: #16a34a;
    font-size: 14px;
    font-weight: 300 !important;
    flex: 1;
}

.toast-close-btn {
    position: absolute;
    padding: 3px;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    color: #16a34a;
    font-size: 18px;
    cursor: pointer;
}

.toast-close-btn:hover {
    color: #2c8f47;
}

.toast-danger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    padding: 10px 20px;
    border: 0.5px solid #ff878b;
    background-color: #fff6f6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.toast-danger .toast-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.toast-danger .toast-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toast-danger .toast-text {
    color: #ef4444;
    font-size: 14px;
    font-weight: 300 !important;
    flex: 1;
}

.toast-danger .toast-close-btn {
    position: absolute;
    padding: 3px;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    color: #ef4444;
    font-size: 18px;
    cursor: pointer;
}

.toast-danger .toast-close-btn:hover {
    color: #2c8f47;
}

/* end toasts */

.carousel-indicators {
    bottom: -40px;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--dark-gray);
}
.carousel-item {
    user-select: none;
}
.carousel-indicators .active {
    background-color: var(--primary-color);
}
